[
  {erl_py_runner, [
    {supervisor, #{
      intensity => 3,
      period => 10,
      worker_shutdown => 5000
    }},
    {environment, #{
      python => environment,
      requirements => "python/requirements.txt",
      runner => "python/runner.py",
      venv_dir => ".venv"
    }},
    {worker, #{
      config => #{
        timeout => 10000,
        pool_size => 4,
        max_pending => infinity
      },
      modules_whitelist => #{
        erlang_modules => [
          math,
          lists,
          maps,
          string,
          erlang
        ],
        python_modules => [
          <<"math">>,
          <<"json">>,
          <<"re">>,
          <<"datetime">>
        ]
      }
    }}
  ]}
].
