[
  {erl_py_runner, [
    {supervisor, #{
      intensity => 3,
      period => 10,
      worker_shutdown => 5000
    }},
    {worker, #{
      environment => #{
        pyterm => "--no-build-isolation git+https://github.com/Pyrlang/Term.git@1.3#egg=pyrlang-term",
        requirements => "python/requirements.txt",
        runner => "python/runner.py",
        venv_dir => ".venv",
        python => "python3"
      },
      config => #{
        timeout => 10000,
        pool_size => 4,
        max_pending => infinity
      },
      modules_whitelist => #{
        erlang_modules => [
          math,
          lists,
          maps,
          string,
          erlang
        ],
        python_modules => [
          <<"math">>,
          <<"json">>,
          <<"re">>,
          <<"datetime">>
        ]
      }
    }}
  ]}
].
