### Erlang template
logs
*.o
*.beam
*.plt
.eunit
.concrete/DEV_MODE
.idea
_build
erl_crash.dump
erl_py_runner.iml
rebar.lock

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

# Python venv
.venv/