{deps, []}.

{relx, [
  {release, {erl_py_runner, "1.0.0"}, [
    kernel,
    stdlib,
    sasl,
    crypto,
    public_key,
    asn1,
    syntax_tools,
    ssl,
    os_mon,
    inets,
    compiler,
    runtime_tools,
    erl_py_runner
  ]},
  {include_erts, false},
  {vm_args, "./config/vm.args"},
  {sys_config, "./config/sys.config"},
  {extended_start_script, true},
  {overlay, []}
]}.

{profiles, [
  {test, [
    {ct_opts, [
      {sys_config, "test/ct.config"}
    ]}
  ]},
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]},
    {relx, [
      {dev_mode, false},
      {debug_info, strip},
      {include_src, false},
      {include_erts, true}
    ]}
  ]},
  {dev, [
    {deps, [
      {observer_cli, {git, "https://github.com/zhongwencool/observer_cli.git", {tag, "1.8.6"}}}
    ]}
  ]}
]}.